/* Base Styles */

.resume {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.background {
    height: 500px;
    width: 100%;
    background: url('../assets/deskspace-3.jpg') #28282a no-repeat center;
    background-size: cover;
}

.resume-dual-container {
    color: white;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding-block: 5rem;
}

.resume-box-1,
.resume-box-2 {
    padding-block: 3rem;
}

.resume-box-1 {
    width: 40%;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1.75;
    letter-spacing: 1.5px;
}

.resume-box-2 {
    width: 60%;
    font-size: 2rem;
    line-height: 1.5;
}

.resume-container {
    background-color: white;
    max-width: 650px;
    border: 1px solid black;
    padding: 96px;
    margin: 5rem auto; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.92rem;
    text-align: justify;
}

.resume-container ul {
    margin: 1rem 0 0 4rem;
    padding: 0;
}

.resume-container ul li {
    margin: 0 0 0 4rem;
    padding: 0;
    list-style: circle;
}

a.email,
.tel {
    all: unset;
    cursor: pointer;
    text-decoration: underline;
}

a.email {
    color: rgb(0, 116, 211);
}

.tel {
    text-decoration: underline;
}

.name {
    font-size: 2.17rem;
    font-weight: 600;
}

.font-small {
    font-size: 0.92rem;
}

.font-medium {
    font-size: 1rem;
    font-weight: 700;
}

.font-large {
    font-size: 1.5rem;
    font-weight: 700;
    margin-block: 1rem;
}

.colored {
    color: rgb(54, 179, 137);
}

.space-between,
.space-between-500 {
    display: flex;
    margin-top: 1rem;
}

.space-between {
    height: 1rem;
    justify-content: space-between;
    align-items: center;
}

.space-between-500 {
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;
    align-items: flex-start;
}

.education-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start; 
    text-align: left;
    margin-bottom: 1rem;
}

.education-item p,
.education-item h3 {
    margin-block: 0;
}

.education-item h3 {
    color: rgb(54, 179, 137);
}

.resume-thumbnail img {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

.resume-thumbnail:hover img {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.download-paragraph {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.mobile-version {
    display: none;
}

.skill-list {
    list-style: none;
    margin-left: 0rem;
}

.awards ul {
    margin-left: 0rem;
}

.awards ul li {
    margin: 0rem; 
    list-style: none;
}

.skill-list li, 
.skill-list {
    list-style: none !important;
    margin: 0rem !important;
}

/* Media Query Styles */

@media (max-width: 1100px) {
    .background {
        height: auto;
    }

    .resume-dual-container {
        flex-flow: row wrap;
        text-align: left;
    }

    .resume-box-1,
    .resume-box-2 {
        padding-block: 1rem;
        width: 50%;
    }

    .resume-box-1 h1 {
        padding-inline: 1rem;
    }

    .download-paragraph {
        display: block;
        font-size: 1.5rem;
        padding-inline: 1rem;
        flex-flow: row wrap;
    }

    .desktop-version {
        display: none;
    }

    .mobile-version {
        display: inline-block;
        text-align: center;
        color: black;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        padding-block: .5rem;
        padding-inline: 1rem;
        font-weight: 900;
        font-size: 1.2rem;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);

    }

    .resume-thumbnail img {
        display: none;
        height: 100px;
        width: 100px;
    }

    .resume-container {
        max-width: 100%;
        border: none;
        padding: 0rem;
        padding-inline: 1rem;
        margin: 0 auto; 
        box-shadow: none;
        text-align: center;
    }

    .resume-container ul {
        margin: 0;
        margin-block: 1rem;
        list-style: none;
    }

    .resume-container ul li {
        margin: 0;
        list-style: none;
    }

    a.email,
    .tel {
        text-decoration: underline;
    }

    .name {
        font-size: 2.17rem;
    }

    .font-small {
        font-size: 0.92rem;
        margin: 0rem;
    }

    .font-medium {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1rem;
    }

    .font-large {
        font-size: 1.5rem;
        font-weight: 700;
        margin-block: 1rem;
    }

    .contact-container {
        margin: 0rem;
    }

    .space-between {
        display: block;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .space-between-500 {
        display: block;
        text-align: center;
        align-items: center;
    }

    .education-item {
        display: block;
        align-items: center; 
        text-align: center;
    }

    .education-item h3 {
        color: rgb(54, 179, 137);
    }

    .education-item,
    .skill-list {
        width: 100%;
    }
}
