header {
    display: flex;
    flex-flow: row wrap;
    font-size: 3.6rem;
    font-weight: 500;
    padding-inline: 2rem;
}

.workview-image-1 {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/SanDiego.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block: 2rem;
    margin-block: 2rem;
}

.recent-work {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-flow: column nowrap;
    padding-block: 2rem;
    margin-block: 2rem; 
    margin-inline: auto;
    gap: 1rem;
}

.recent-work-header h2 {
    font-size: 2.5rem;
}

.recent-work p {
    width: 60%;
}

@media (max-width: 1100px) {
    header {
        font-size: 3.6rem;
        padding-inline: 2rem;
    }
    
    .workview-image-1 {
        height: 50vh;
        margin-block: 2rem;
    }
    
    .recent-work {
        width: 90%;
        gap: 0.25rem;
    }
    
    .recent-work p {
        width: 100%;
    }
}
